<div class="jumbotron jumbotron-fluid text-center">
    <p class="display-1">example9.hbs</p>
    <p>Buttons in Bootstrap</p>
</div>
<div class="container-fluid">
    <h1>Buttons</h1>
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-link">Link</button>

    <h1>Button Elements</h1>
    <a href="#" class="btn btn-info" role="button">Link Button</a>
    <button type="button" class="btn btn-info">Button</button>
    <input type="button" class="btn btn-info" value="Input Button" />
    <input type="submit" class="btn btn-info" value="Submit Button"/>

    <h1>Button Outline</h1>
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-link">Link</button>

    <h1>Button sizes</h1>
    <button type="button" class="btn btn-primary btn-lg">Large Button</button>
    <button type="button" class="btn btn-primary">Default Button</button>
    <button type="button" class="btn btn-primary btn-sm">Small Button</button>
    <button type="button" class="btn btn-primary btn-block">Block Button</button>
    <button type="button" class="btn btn-primary active">Active Button</button>
    <button type="button" class="btn btn-primary disabled">Disabled Button</button>
    <a href="#" class="btn btn-primary disabled">Disabled Link</a>


    <h1>Normal Button Group</h1>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Apple</button>
        <button type="button" class="btn btn-primary">Samsung</button>
        <button type="button" class="btn btn-primary">Galaxy</button>
    </div>

    <h1>Large Button Group</h1>
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-primary">Apple</button>
        <button type="button" class="btn btn-primary">Samsung</button>
        <button type="button" class="btn btn-primary">Galaxy</button>
    </div>

    <h1>Small Button Group</h1>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary">Apple</button>
        <button type="button" class="btn btn-primary">Samsung</button>
        <button type="button" class="btn btn-primary">Galaxy</button>
    </div>

    <h1>Vertical Button Group</h1>
    <div class="btn-group btn-group-sm btn-group-vertical">
        <button type="button" class="btn btn-primary">Apple</button>
        <button type="button" class="btn btn-primary">Samsung</button>
        <button type="button" class="btn btn-primary">Galaxy</button>
    </div>

    <h1>Nesting Button Group</h1>
    <div class="btn-group btn-group-sm">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Apple</button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Tablet</a>
                <a href="#" class="dropdown-item">Smartphone</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Samsung</button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Tablet</a>
                <a href="#" class="dropdown-item">Smartphone</a>
            </div>
        </div>
        
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Galaxy</button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Tablet</a>
                <a href="#" class="dropdown-item">Smartphone</a>
            </div>
        </div>
        
    </div>

    <br><br><br><br><br><br><br><br><br>
</div>