<div class="jumbotron text-center">
    <h1>example1.hbs</h1>
    <p>Resize the page to see effect!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Column-1: Example1</p>
            <p>Column-1: Example1</p>
            <p>Column-1: Example1</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Column-2: Example1</p>
            <p>Column-2: Example1</p>
            <p>Column-2: Example1</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Column-3: Example1</p>
            <p>Column-3: Example1</p>
            <p>Column-3: Example1</p>
        </div>
    </div>
</div>