<div class="jumbotron text-center">
    <h1>example5.hbs</h1>
    <p>bootstrap colors</p>
</div>

<div class="container-fluid">
    <h1>Text color</h1>
    <p class="text-muted">text-muted</p>
    <p class="text-primary">text-primary</p>
    <p class="text-success">text-success</p>
    <p class="text-info">text-info</p>
    <p class="text-warning">text-warning</p>
    <p class="text-danger">text-danger</p>
    <p class="text-secondary">text-secondary</p>
    <p class="text-white">text-white</p>
    <p class="text-dark">text-dark</p>
    <p class="text-body">text-body</p>
    <p class="text-light">text-light</p>
    <h1>Background color</h1>
    <p class="text-light bg-primary">bg-primary</p>
    <p class="text-light bg-success">bg-success</p>
    <p class="text-light bg-info">bg-info</p>
    <p class="text-light bg-warning">bg-warning</p>
    <p class="text-light bg-danger">bg-danger</p>
    <p class="text-light bg-secondary">bg-secondary</p>
    <p class="text-light bg-dark">bg-dark</p>
    <p class="text-dark bg-light">bg-light</p>
</div>