<div class="jumbotron jumbotron-fluid text-center">
    <p class="display-1">example10.hbs</p>
    <p>Badges in Bootstrap</p>
</div>
<div class="container-fluid">
    <h1>Normal Badges</h1>
    <h1>Heading 1 <span class="badge badge-secondary">New</span></h1>
    <h2>Heading 2 <span class="badge badge-secondary">New</span></h2>
    <h3>Heading 3 <span class="badge badge-secondary">New</span></h3>
    <h4>Heading 4 <span class="badge badge-secondary">New</span></h4>
    <h5>Heading 5 <span class="badge badge-secondary">New</span></h5>
    <h6>Heading 6 <span class="badge badge-secondary">New</span></h6>

    <h1>Contextual Badges</h1>
    <p>badge badge-primary <span class="badge badge-primary">New</span></p>
    <p>badge badge-secondary <span class="badge badge-secondary">New</span></p>
    <p>badge badge-success <span class="badge badge-success">New</span></p>
    <p>badge badge-danger <span class="badge badge-danger">New</span></p>
    <p>badge badge-warning <span class="badge badge-warning">New</span></p>
    <p>badge badge-info <span class="badge badge-info">New</span></p>
    <p>badge badge-light <span class="badge badge-light">New</span></p>
    <p>badge badge-dark <span class="badge badge-dark">New</span></p>

    <h1>Contextual Badges Pills</h1>
    <p>badge badge-primary <span class="badge badge-pill badge-primary">New</span></p>
    <p>badge badge-secondary <span class="badge badge-pill badge-secondary">New</span></p>
    <p>badge badge-success <span class="badge badge-pill badge-success">New</span></p>
    <p>badge badge-danger <span class="badge badge-pill badge-danger">New</span></p>
    <p>badge badge-warning <span class="badge badge-pill badge-warning">New</span></p>
    <p>badge badge-info <span class="badge badge-pill badge-info">New</span></p>
    <p>badge badge-light <span class="badge badge-pill badge-light">New</span></p>
    <p>badge badge-dark <span class="badge badge-pill badge-dark">New</span></p>

    <h1>Badge inside element</h1>
    <button type="button" class="btn btn-primary">
        Hello World, Message Count: <span class="badge badge-pill badge-light">10</span>
    </button>
</div>