<div class="jumbotron jumbotron-fluid text-center">
    <p class="display-1">example8.hbs</p>
    <p>Alert in Boostrap</p>
</div>
<div class="container-fluid">
    <h1>Div Alerts</h1>
    <div class="alert alert-success">
        <strong>Success!</strong> alert alert-success
    </div>
    <div class="alert alert-info">
        <strong>Info!</strong> alert alert-info
    </div>
    <div class="alert alert-warning">
        <strong>Warning!</strong> alert alert-warning
    </div>
    <div class="alert alert-danger">
        <strong>Danger!</strong> alert alert-danger
    </div>
    <div class="alert alert-primary">
        <strong>Primary!</strong> alert alert-primary
    </div>
    <div class="alert alert-secondary">
        <strong>Secondary!</strong> alert alert-secondary
    </div>
    <div class="alert alert-dark">
        <strong>Dark!</strong> alert alert-dark
    </div>
    <div class="alert alert-light">
        <strong>Light!</strong> alert alert-light
    </div>


    <h1>Alerts Links</h1>
    <div class="alert alert-success">
        <strong>Success!</strong> alert alert-success
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-info">
        <strong>Info!</strong> alert alert-info
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-warning">
        <strong>Warning!</strong> alert alert-warning
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-danger">
        <strong>Danger!</strong> alert alert-danger
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-primary">
        <strong>Primary!</strong> alert alert-primary
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-secondary">
        <strong>Secondary!</strong> alert alert-secondary
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-dark">
        <strong>Dark!</strong> alert alert-dark
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-light">
        <strong>Light!</strong> alert alert-light
        <a href="#" class="alert-link">link</a>
    </div>

    <h1>Closeable Alerts</h1>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> alert alert-success
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Info!</strong> alert alert-info
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> alert alert-warning
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Danger!</strong> alert alert-danger
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-primary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Primary!</strong> alert alert-primary
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-secondary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Secondary!</strong> alert alert-secondary
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-dark">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Dark!</strong> alert alert-dark
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-light">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Light!</strong> alert alert-light
        <a href="#" class="alert-link">link</a>
    </div>


    <h1>Animated Closeable Alerts</h1>
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> alert alert-success
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-info alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Info!</strong> alert alert-info
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> alert alert-warning
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Danger!</strong> alert alert-danger
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-primary alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Primary!</strong> alert alert-primary
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-secondary alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Secondary!</strong> alert alert-secondary
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-dark alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Dark!</strong> alert alert-dark
        <a href="#" class="alert-link">link</a>
    </div>
    <div class="alert alert-light alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Light!</strong> alert alert-light
        <a href="#" class="alert-link">link</a>
    </div>
</div>