<div class="jumbotron jumbotron-fluid text-center">
    <p class="display-1">example7.hbs</p>
    <p>Images in bootstrap</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3>paris.jpg with classes(rounded)</h3>
            <img src="/assets/images/paris.jpg" alt="Paris" class="rounded">
        </div>
        <div class="col-sm-4">
            <h3>newyork.jpg with classes(rounded-circle)</h3>
            <img src="/assets/images/newyork.jpg" alt="New York" class="rounded-circle">
        </div>
        <div class="col-sm-4">
            <h3>sanfran.jpg with classes(img-thumbnail)</h3>
            <img src="/assets/images/sanfran.jpg" alt="San Francisco" class="img-thumbnail">
        </div>
    </div>
    <div class="row">
        <h1>Image aligning</h1>
        <img src="/assets/images/paris.jpg" alt="Paris" class="rounded float-left">
        <img src="/assets/images/paris.jpg" alt="Paris" class="rounded float-right">
    </div>
</div>