<div class="jumbotron jumbotron-fluid text-center">
    <p class="display-1">example11.hbs</p>
    <p>Progressbar in Bootstrap</p>
</div>

<div class="container-fluid">
    <h1>Normal Progressbar</h1>
    <div class="progress">
        <div class="progress-bar" style="width:70%"></div>
    </div>

    <h1>Progressbar heights</h1>
    <div class="progress" style="height:20px">
        <div class="progress-bar" style="width:40%;height:20px"></div>
    </div>
    <br>
    <div class="progress" style="height:40px">
        <div class="progress-bar" style="width:50%;height:40px"></div>
    </div>
    <br>
    <div class="progress" style="height:60px">
        <div class="progress-bar" style="width:60%;height:60px"></div>
    </div>
    <br>
    <div class="progress" style="height:100px">
        <div class="progress-bar" style="width:70%;height:100px"></div>
    </div>
    <br>

    <h1>Colored Progresbars with labels</h1>
    <div class="progress" style="height:20px">
        <div class="progress-bar" style="width:40%;height:20px">40%</div>
    </div>
    <br>
    <div class="progress" style="height:40px">
        <div class="progress-bar bg-success" style="width:50%;height:40px">50%</div>
    </div>
    <br>
    <div class="progress" style="height:60px">
        <div class="progress-bar bg-info" style="width:60%;height:60px">60%</div>
    </div>
    <br>
    <div class="progress" style="height:100px">
        <div class="progress-bar bg-danger" style="width:70%;height:100px">70%</div>
    </div>
    <br>
    <div class="progress" style="height:20px">
        <div class="progress-bar bg-info" style="width:40%;height:20px">40%</div>
    </div>
    <br>
    <div class="progress" style="height:40px">
        <div class="progress-bar bg-white" style="width:50%;height:40px">50%</div>
    </div>
    <br>
    <div class="progress" style="height:60px">
        <div class="progress-bar bg-secondary" style="width:60%;height:60px">60%</div>
    </div>
    <br>
    <div class="progress" style="height:100px">
        <div class="progress-bar bg-light" style="width:70%;height:100px">70%</div>
    </div>
    <br>
   <div class="progress" style="height:100px">
        <div class="progress-bar bg-dark" style="width:70%;height:100px">70%</div>
    </div>
    <br>


    <h1>Colored and striped Progresbars with labels</h1>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" style="width:40%">40%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped" style="width:50%">50%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped" style="width:60%">60%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-danger progress-bar-striped" style="width:70%">70%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped" style="width:40%">40%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-white progress-bar-striped" style="width:50%">50%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-secondary progress-bar-striped" style="width:60%">60%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-light progress-bar-striped" style="width:70%">70%</div>
    </div>
    <br>
   <div class="progress">
        <div class="progress-bar bg-dark progress-bar-striped" style="width:70%">70%</div>
    </div>
    <br>

    <h1>Colored and animated-striped Progresbars with labels</h1>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%">40%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:50%">50%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:60%">60%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:70%">70%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:40%">40%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-white progress-bar-striped progress-bar-animated" style="width:50%">50%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" style="width:60%">60%</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-light progress-bar-striped progress-bar-animated" style="width:70%">70%</div>
    </div>
    <br>
   <div class="progress">
        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" style="width:70%">70%</div>
    </div>
    <br>

    <h1>Multiple Progtess Bars</h1>
    <div class="progress">
        <div class="progress-bar bg-success" style="width:30%">Success</div>
        <div class="progress-bar bg-warning" style="width:20%">Warning</div>
        <div class="progress-bar bg-danger" style="width:25%">Danger</div>
        <div class="progress-bar bg-info" style="width:25%">Info</div>
    </div>
</div>